<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion.Properties.Settings.EscuelaConnectionString"
            connectionString="Data Source=SYS21VI-PC\SQLEXPRESS;Initial Catalog=Escuela;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>